{% extends "layouts/base.html" %}
{% load static %}
{% block title %} task3 Lab8 {% endblock title %}
{% block content %}
    <h1>Task 3: Books with edition <= 3 and title or author does not contain 'co'</h1>
    <button class="lab8-btn">
        <a href="{% url 'books.lab8.task4' %}">open task4</a>
    </button>
    {% if books %}
    <ul>
        {% for obj in books %}
        ID: {{ obj.id }} <br>
        Title: {{ obj.title }} <br>
        Author: {{ obj.author }} <br>
        Price: {{ obj.price }} <br>
        Edition: {{ obj.edition }} <br>
        <hr>
        {% endfor %}
    </ul>
    {% else %}
    <p>No results found</p>
    {% endif %}
{% endblock content %}